* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Zingo';
  src: url('./fonts/Zingo\ Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}